$govuk-assets-path: "~govuk-frontend/govuk/assets/";

@import "~govuk-frontend/govuk/vendor/_sass-mq";
@import "~govuk-frontend/govuk/settings/all";
@import "~govuk-frontend/govuk/helpers/all";
@import "~govuk-frontend/govuk/tools/all";

.title-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.heading-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.cop-filters-container {
  border: 1px solid #b1b4b6;
  padding: 0 !important;
  margin-bottom: 1em;

  .cop-filters-header {
    background-color: #b1b4b6;
    padding: 1em;
  }

  .cop-filters-header .govuk-heading-s {
    margin: 0;
  }

  .cop-filters-controls {
    margin: 1em;
  }

  .cop-filters-options {
    padding: 1em;
  }

  .cop-filters-options select {
    width: 100%;
  }

  .cop-filters-options .govuk-checkboxes {
    margin-block-start: 0px !important; //clears the GDS style which adds more padding
    padding-inline-start: 0px !important; //clears the GDS style which adds more padding
  }
  
  button.govuk-link {
    color: #1d70b8;
    border: none;
    background: none;
    cursor: pointer;
  }
}

.task-list--item {
  margin-bottom: 1em;
  border-bottom: 1px solid #b1b4b6;
  padding: 1em 0;

  .task-heading {
    margin: 0 0.5em 0.25em 0; /* reduces the GDS header margin */
  }

  .task-risk-statement {
    margin-bottom: 0.25em;
  }

  .content-line-one {
    margin-bottom: 0.25em;
  }

  .content-line-two {
    margin-bottom: 0;
  }

  ul li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.25em;
  }

}

.task-list--email,
.task-list--businessKey {
  word-break: break-all;
}

ul.item-list--bulleted {
  list-style: none;
  display: flex;
  flex-wrap: wrap;

  li + li::before {
    content: '';
    display: inline-block;
    vertical-align: middle;
    margin: 0 0.5em 0 0;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background-color: currentColor;
  }
}

.govuk-tag.govuk-tag--positiveTarget {
  @include govuk-font($size: 14, $weight: bold, $line-height: 1);
  height: 19px;
  color: #FFF;
  background-color: #BC2410;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 3px 5px 0 5px;
}
