$govuk-assets-path: '~govuk-frontend/govuk/assets/';

@import "~govuk-frontend/govuk/vendor/_sass-mq";
@import "~govuk-frontend/govuk/settings/all";
@import "~govuk-frontend/govuk/helpers/all";
@import "~govuk-frontend/govuk/tools/all";

.title-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.heading-container {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.task-list--item {
  margin-bottom: 1em;
  border-bottom: 1px solid #b1b4b6;
  padding: 1em 0;

  .task-heading {
    margin: 0 0.5em 0.25em 0; /* reduces the GDS header margin */
  }

  .content-line-one {
    margin-bottom: 0.25em;
  }

  .content-line-two {
    margin-bottom: 0;
  }

  ul li {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 0.25em;
  }

}

.govuk-tag.govuk-tag--positiveTarget {
  @include govuk-font($size: 14, $weight: bold, $line-height: 1);
  height: 19px;
  color: #FFF;
  background-color: #BC2410;
  border-radius: 5px;
  text-transform: capitalize;
  padding: 3px 5px 0 5px;
}
