@import "~govuk-frontend/govuk/vendor/_sass-mq";
@import "~govuk-frontend/govuk/settings/spacing";
@import "~govuk-frontend/govuk/helpers/spacing";
@include mq($from: tablet) {
    .task-versions .govuk-accordion__section-summary {
        display: flex;
        justify-content: space-between;
    }
    .task-versions--right {
        margin-top: -40px;
    }
}

.task-versions--highlight {
    border-bottom: 3px solid #ffbf47;
    margin-right: 1px;
    background-color: #fff2d3;
    padding: 2px 0 0;
}

@include mq($from: tablet) {
    .task-actions--buttons {
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        margin-top: 20pt;
    }
}

.card {
    padding: 1em;
    font-size: 1em;
    margin-bottom: 2em;
    background-color: #f3f2f1;
}

.mode-details {
    display: flex;
    justify-content: flex-start;
    margin: 0;
    font-family: "nta", Arial, sans-serif;
    font-size: 0.9em;
    flex-wrap: wrap;
}

.mode-details dt,
.mode-details dd {
    display: inline-block;
}

.mode-details dt {
    width: 20%;
}

.mode-details dd {
    width: 80%;
    font-weight: bold;
    margin: 0 0 0.5em 0;
}

.govuk-summary-list__key {
    &.font__light {
        font-weight: lighter;
        color: #505a5f;
    }
    &.font__bold {
        font-weight: bold;
    }
}

.govuk-summary-list__value {
    &.font__light {
        font-weight: lighter;
        color: #505a5f;
    }
    &.font__bold {
        font-weight: bold;
    }
}

.govuk-summary-list__row {
    &.font__light {
        font-weight: lighter;
        color: #505a5f;
    }
    &.font__bold {
        font-weight: bold;
    }
}