.align-right {
  text-align: right;
}

.inline-block {
  display: inline-block;
}

.word-break {
  overflow-wrap: break-word;
}

.overflow-hidden {
  overflow: hidden;
}

.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

@media only screen and (max-width: 768px) {
  .sticky {
    position: relative;
  }
}

// Hiding (optional) text that doesn't have a label as form renderer currently doesn't support this feature
label[for=assignedToMe] {
  display: none;
}

label[for=informTouristFreight] {
  display: none;
}
