@import "~govuk-frontend/govuk/vendor/_sass-mq";
@import "~govuk-frontend/govuk/settings/spacing";
@import "~govuk-frontend/govuk/helpers/spacing";
@import "~govuk-frontend/govuk/settings/all";
@import "~govuk-frontend/govuk/helpers/all";
@import "~govuk-frontend/govuk/tools/all";
@include mq($from: tablet) {
    .task-versions .govuk-accordion__section-summary {
        display: flex;
        justify-content: space-between;
    }
    .task-versions--right {
        margin-top: -40px;
    }
}

.thin-border {
  border-bottom: 1px solid #b1b4b6;
  padding-bottom: 4px;
}

.font__regular {
    font-weight: lighter;
}