@import '~govuk-frontend/govuk/vendor/_sass-mq';
@import '~govuk-frontend/govuk/settings/spacing';
@import '~govuk-frontend/govuk/helpers/spacing';
@import '~govuk-frontend/govuk/settings/all';
@import '~govuk-frontend/govuk/helpers/all';
@import '~govuk-frontend/govuk/tools/all';
@include mq($from: tablet) {
  .task-versions .govuk-accordion__section-summary {
    display: flex;
    justify-content: space-between;
  }
  .task-versions--right {
    margin-top: -40px;
  }
}

.vertical-dotted-line {
  height: inherit;
  border-left: 4px dotted #b1b4b6;
}

.bottom-border-thin {
  border-bottom: 1px solid #b1b4b6;
}

.font_size {
  font-size: 15px;
}

.font__light {
  color: #505a5f;
  font-weight: lighter;
  font-size: 15px;
}

.co-travellers-container {
  font-family: "GDS Transport", arial, sans-serif;
  margin-bottom: 10px;

  .co-travellers-table thead th {
    @extend .font__light;
  }

  .co-travellers-table td {
    @extend .font_size; 
  }
}
