$govuk-font-family: 'GDS Transport', arial, sans-serif;

@import '~govuk-frontend/govuk/vendor/_sass-mq';
@import '~govuk-frontend/govuk/settings/spacing';
@import '~govuk-frontend/govuk/helpers/spacing';
@import '~govuk-frontend/govuk/settings/all';
@import '~govuk-frontend/govuk/helpers/all';
@import '~govuk-frontend/govuk/tools/all';
@include mq($from: tablet) {
  .task-versions .govuk-accordion__section-summary {
    display: flex;
    justify-content: space-between;
  }
  .task-versions--right {
    margin-top: -40px;
  }
}

.vertical-dotted-line__second,
.vertical-dotted-line__first {
  height: inherit;
  border-left: 4px dotted #b1b4b6;
}

.govuk-task-details {
  &__col-2, 
  &__col-3 {
    padding-left: 10px;
  }
}

.bottom-border-thin {
  border-bottom: 1px solid #b1b4b6;
}

.dot {
  &__light{
    height: 4px;
    width: 4px;
    background-color: #505a5f;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-bottom: 2px;
  }
}

.font_size {
  font-size: 15px;
}

.font__light {
  color: #505a5f;
  font-weight: lighter;
  font-size: 15px;
}

.co-travellers-container {
  .co-travellers-table thead th {
    @extend .font__light;
  }

  .co-travellers-table td {
    @extend .font_size; 
  }
}

@media only screen and (max-width: 840px) {
  .vertical-dotted-line__second,
  .vertical-dotted-line__first {
      border-left: 0px;
  }

  .govuk-task-details__col-2 {
    padding-left: 0px;
  }
}

@media only screen and (max-width: 1237px) {
  .vertical-dotted-line__second {
      border-left: 0px;
  }

  .govuk-task-details__col-3 {
    padding-left: 0px;
  }
}

.task-heading {
  margin-bottom: auto !important;
  margin-top: auto !important;
}

.task-list--assignee {
  padding-right: 0px !important;
  margin-right: 2px;
}

.task-list--voyage-section {
  margin-top: 5px !important;
}
